## Build and output
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

## Visual Studio / Code
.vs/
.vscode/
*.user
*.suo
*.userosscache
*.sln.docstates

## JetBrains Rider
.idea/
*.sln.iml

## SQLite Database & Temp files
*.db
*.db-shm
*.db-wal

## OS files
.DS_Store
Thumbs.db
